.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}
.form__wrapper {
  width: 100%;
  margin-bottom: 2rem;
}
.form__title {
  font-size: 1.8rem;
}
button[type='submit'] {
  background-color: var(--gray-1);
  color: var(--black);
  font-size: 2rem;
  display: inline-block;
  outline: none;
  border: none;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
}
.form{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--deep-dark);
    align-items: center;
   border-radius: 8px;
  margin-bottom: 2rem;
    }
    textarea {
      width: 100%;
      font-size: 2rem;
      padding: 1.2rem;
      color: black;
      background-color: var(--gray-1);
      outline: none;
      border: none;
      border-radius: 8px;
      margin-top: 1rem;
    }
    textarea {
      min-height: 250px;
      resize: vertical;
    }
    .form__title{
    display: flex;
    color: var(--green);
    justify-content: center;
    padding: 3rem 0 1rem 0;
    }
    
    .form__title > h4{
    font-size: 4rem;
    font-weight: 400;
    border-bottom: 2px solid var(--green);
    }
    
    .form__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    
    .form__containerItems{
    display: flex;
    flex-direction: column;
        }
    
    .form__containerItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    }
    
    .form__containerItemName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    
    .form__containerItemName > label{
    font-size: 2.5rem;
    color: white;
    font-weight: 400;
    }
    .form__containerItemName > .MuiSvgIcon-root{
    color: var(--green);
    font-size: xx-large;
    }
    
    .form__containerItemField{
    display: flex;
    width: 100%;
    font-size: 2rem;
    color:  black;
    }
    
    .form__containerItemField > input{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: var(--gray-1);
    width: 100%;
    }
    .form__containerItemFieldMessage > input{
     outline: none;
      border: none;
      padding: 10px;
      border-radius: 5px;
      margin-top: 5px;
      background-color: var(--gray-1);
      width: 100%;
      height: 15rem;
      font-size: 2rem;}
      @media only screen and (max-width: 375px ) {
        .top-section {
          flex-direction: column;
          gap: 5rem;
        }
        .about__subheading {
          font-size: 1.8rem;
        }
        .about__heading {
          font-size: 2.8rem;
        }
        .about__info__heading {
          font-size: 1.8rem;
        }
        .form__containerItemName > label{
          font-size: 1rem;
          color: white;
          }
      }